<div class="w-full flex justify-center py-5 bg-slate-500">
  <ul class="flex navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to "Sign Up", new_user_registration_path,
            class: "nav-link mx-4 px-2 py-1 rounded-lg bg-blue-500 text-white hover:bg-blue-600"%>  
    </li>
    <li class="nav-item active">
      <%= link_to "Sign In", new_user_session_path,
            class: "nav-link px-2 py-1 rounded-lg bg-green-500 text-white hover:bg-green-600"%>
    </li>
  </ul>
</div>


